<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Passager</servlet-name>
        <servlet-class>servlet.PassagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Passager</servlet-name>
        <url-pattern>/passager</url-pattern>
        <url-pattern>/passager/delete</url-pattern>
        <url-pattern>/passager/creation</url-pattern>
        <url-pattern>/passager/edition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Vol</servlet-name>
        <servlet-class>servlet.VolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vol</servlet-name>
        <url-pattern>/vol</url-pattern>
        <url-pattern>/vol/delete</url-pattern>
        <url-pattern>/vol/creation</url-pattern>
        <url-pattern>/vol/edition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Avion</servlet-name>
        <servlet-class>servlet.AvionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Avion</servlet-name>
        <url-pattern>/avion</url-pattern>
        <url-pattern>/avion/delete</url-pattern>
        <url-pattern>/avion/creation</url-pattern>
        <url-pattern>/avion/edition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Reservation</servlet-name>
        <servlet-class>servlet.ReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reservation</servlet-name>
        <url-pattern>/reservation</url-pattern>
        <url-pattern>/reservation/delete</url-pattern>
        <url-pattern>/reservation/creation</url-pattern>
        <url-pattern>/reservation/edition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DetailsVols</servlet-name>
        <servlet-class>servlet.DetailsVolsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailsVols</servlet-name>
        <url-pattern>/detailsVols</url-pattern>
        <url-pattern>/detailsVols/delete</url-pattern>
        <url-pattern>/detailsVols/creation</url-pattern>
        <url-pattern>/detailsVols/edition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Reporting</servlet-name>
        <servlet-class>servlet.ReportingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reporting</servlet-name>
        <url-pattern>/reporting</url-pattern>
        <url-pattern>/reporting/reservationPeriode</url-pattern>
        <url-pattern>/reporting/nombrePassager</url-pattern>
        <url-pattern>/reporting/nombrePassagerReservationPeriode</url-pattern>
        <url-pattern>/reporting/nombreAnnulationPeriode</url-pattern>
        <url-pattern>/reporting/nombreAvionMaintenance</url-pattern>
        <url-pattern>/reporting/avionPlusVolPeriode</url-pattern>
        <url-pattern>/reporting/PassagerPlusReservationPeriode</url-pattern>
        <url-pattern>/reporting/pourcentageNombreAffaireEcoPeriode</url-pattern>
    </servlet-mapping>

</web-app>